@import url('https://fonts.googleapis.com/css?family=Lato');

.head {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #0bb31e;

}

.text {
    color: black;
}

.text:hover {
    background-color: #0bb31e;
}
  
