@import url('https://fonts.googleapis.com/css?family=Lato');

.head {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #0bb31e;

}

.text {
    color: black;
    text-indent: 75px;
    display: block;
}

.text:hover {
    color: #0bb31e;
}
 
.header {
    right: -20%;
}

.btn2 {
    color : blue;
}
